<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9597600331-t17ujmi0a62ddhfdsan66k80h6lv3dh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9597600331-t17ujmi0a62ddhfdsan66k80h6lv3dh5</string>
	<key>API_KEY</key>
	<string>AIzaSyC2JXCFmI_WXLZ-6BIdih0Q5bkao6wM05w</string>
	<key>GCM_SENDER_ID</key>
	<string>9597600331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.egoista.japanmusicapp</string>
	<key>PROJECT_ID</key>
	<string>music-recommend-f68fa</string>
	<key>STORAGE_BUCKET</key>
	<string>music-recommend-f68fa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9597600331:ios:f0cdffc9fbaeb4c4ffc3ce</string>
</dict>
</plist>